{% comment %}
  TODO: Add the product card content for the t-shirt product type.
  TODO: 1-) build a section for the entire product section
  TODO: 2-) build the product car component
  TODO: 3-) build the product feature image
  TODO: 4-) build the On sale Badge
  TODO: 5-) build the color swatches for the t-shirt
  TODO: 6-) build the product title and description
  TODO: 7-) build the product compare at price and price
{% endcomment %}


  <div class="product-card-tshirt-container">
    <div class="product-card-tshirt-image">
      <div class="relative">
        <img src="https://cdn.shopify.com/s/files/1/0620/2275/7519/files/tshirt-1.png?v=1671679246" alt="T-shirt Image" width="300" height="300">
        <span class="font-mono text-blood-orange text-lg">On Sale!</span>
      </div>
    </div>
    <div class="product-card-tshirt-colors">
      <div class="product-card-tshirt-color-swatch w-5 h-5 bg-navy rounded-full"></div>
      <div class="product-card-tshirt-color-swatch w-5 h-5 bg-blood-orange rounded-full"></div>
      <div class="product-card-tshirt-color-swatch"></div>
    </div>
    <div class="product-card-tshirt-content">
      <p class="text-gray-500">Good Brand Company</p>
      <h3 class="text-xl font-bold">Plain T-Shirt</h3>
      <div class="product-card-tshirt-price">
        <span class="text-gray-500 line-through">$29.50</span>
        <span class="text-lg font-bold">$20.00</span>
      </div>
    </div>
  </div>
